.container-fluid {
  &.login-admin {
    background-size: cover;
    background-image: url('img/pizzaAdmin.jpg');
  }
  .loginFormAdmin{
    margin-top: 200px;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 250, 0.5);
    color: white;
    text-transform: uppercase;
  }
  .new-dinner{
    padding-left: 60px;;
  }
  .menu-edit{
    margin-top: 20px;
  }
}
