.imgMenu{
  transition: all 1s;
  opacity:0.5;
  cursor: pointer;
  padding: 10px;
  margin-top: 0 auto;
}
.imgMenu:hover {
    opacity:1;
}
.img-container{
  max-width: 100%;
}
.specialForm{
  padding: 20px 0px 40px;
  #specialItem {
    margin-left: 20px;
  }
}
