@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i');
.navbar{
  &.navbar-default{
      font-family: 'Roboto', sans-serif;
      background-image:
      -webkit-linear-gradient(#0A0F72 0%, #5B61CC 100%);
      background-image:
      -o-linear-gradient(#0A0F72 0%, #5B61CC 100%);
      background-image:
      linear-gradient(#0A0F72 0%, #5B61CC 100%);
      img{
        float: left;
      }
      .title{
        padding-left: 80px;
        font-size: 40px;
        float: left;
        color:#f5f5f5;
        font-weight: 700;
        font-style: italic;
      }
    }
}
