@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,700i");
.navbar.navbar-default {
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-linear-gradient(#0A0F72 0%, #5B61CC 100%);
  background-image: -o-linear-gradient(#0A0F72 0%, #5B61CC 100%);
  background-image: linear-gradient(#0A0F72 0%, #5B61CC 100%); }

.navbar.navbar-default img {
  float: left; }

.navbar.navbar-default .title {
  padding-left: 80px;
  font-size: 40px;
  float: left;
  color: #f5f5f5;
  font-weight: 700;
  font-style: italic; }

.container-fluid {
  height: 100vh; }

.container-fluid.login {
  background-size: cover;
  background-image: url("img/colitaConPapas.png"); }

.container-fluid .loginForm {
  margin-top: 200px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgba(200, 0, 0, 0.5);
  color: white;
  text-transform: uppercase; }

.container-fluid {
  height: 100vh; }

.container-fluid.login-admin {
  background-size: cover;
  background-image: url("img/pizzaAdmin.jpg"); }

.container-fluid .loginFormAdmin {
  margin-top: 200px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 250, 0.5);
  color: white;
  text-transform: uppercase; }

.imgMenu {
  transition: all 1s;
  opacity: 0.5;
  cursor: pointer;
  padding: 10px;
  margin-top: 0 auto; }

.imgMenu:hover {
  opacity: 1; }

.img-container {
  max-width: 100%; }

.specialForm {
  padding: 20px 0px 40px; }

.specialForm #specialItem {
  margin-left: 20px; }

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 70px; }

.display-modal {
  display: block !important; }
